services:
  node-1:
    build:
      context: .
      dockerfile: Dockerfile.node
      args:
        USERNAME: ${USER}
    container_name: node-1
    hostname: node-1
    restart: always
    ports:
      - "2223:2222"
      - "9101:9100"
    volumes:
      - ~/.ssh/ansible.pub:/tmp/ansible.pub:ro

  node-2:
    build:
      context: .
      dockerfile: Dockerfile.node
      args:
        USERNAME: ${USER}
    container_name: node-2
    hostname: node-2
    restart: always
    ports:
      - "2224:2222"
      - "9102:9100"
    volumes:
      - ~/.ssh/ansible.pub:/tmp/ansible.pub:ro

  node-3:
    build:
      context: .
      dockerfile: Dockerfile.node
      args:
        USERNAME: ${USER}
    container_name: node-3
    hostname: node-3
    restart: always
    ports:
      - "2225:2222"
      - "9103:9100"
    volumes:
      - ~/.ssh/ansible.pub:/tmp/ansible.pub:ro
  