global:
  scrape_interval: 30s
  evaluation_interval: 30s

# Scrape Node Exporter metrics
scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
        - localhost:9100

# Scrape Process Exporter metrics
  - job_name: 'process_exporter'
    static_configs:
      - targets:
        - localhost:9256 

# Scrape Blackbox Exporter for port checks
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [tcp_connect]
    static_configs:
      - targets:
        - localhost:8080
