# Application Configuration for {{ inventory_hostname }}
# Node ID: {{ node_id }}
# Generated: {{ ansible_date_time.iso8601 }}

# APPLICATION_RUN_INTERVAL: seconds between updates.
# APPLICATION_PID_FILE: output file for the application process id.
# APPLICATION_DATA_FILE: output file where the application data is written to.

APPLICATION_RUN_INTERVAL        {{ application_run_interval | default(3) }}
APPLICATION_PID_FILE            {{ app_dir }}/run/application.pid
APPLICATION_DATA_FILE           {{ app_dir }}/run/application.data